.NavBar {
  background-color: lightgreen;
  display: flex;
  position: sticky;
  flex: 1;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 7vh;
  top: 0;
  z-index: 1000;
}

.Page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  transition: background-color 0.5s ease-out;
}

.Page:hover {
  background-color: lightgreen;
  transition: background-color 1s ease-out;
}

.ResumePreview {
  display: flex;
  flex: 1;
  flex-direction: column;
}
/* Specifying page 1's actions */
#Page1:hover {
  background-color: lightgreen;
  transition: background-color 1s ease-out;
}

#Nav1 {
  grid-area: "myArea";
}

#Nav2 {
  grid-area: "myArea1";
  background-color: lightblue;
}

#Nav3 {
  grid-area: "myArea2";
}

.NavContainer {
  display: grid;
  grid-template-areas: "myArea myArea1 myArea2";
  grid-gap: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0%;
}

.NavButton {
  background-color: green;
  align-content: center;
  padding: 2vh;
}

.IntroContainer {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.IntroName {
  font-size: 5vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
}

.IntroTitles {
  font-size: 3vh;
}

/* @keyframes page-fade {
  to {
    background-color: lightblue;
  }
} */